<html xmlns="https://wwww.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <header th:replace="~{general/fragmentos :: head}"/>
    
    <body>
        <header th:replace="~{general/fragmentos_1 :: header}"/>
        
        <section th:replace="~{producto/fragmentos_1 :: editar}"/>
        <section th:replace="~{general/fragmentos :: mostrarToast}"/>
        
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
    
</html>
